.ft,
.foooter {
	background-image: url("../../images/SVG/PolygonDark.svg");
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	padding: 2.5rem;
	text-align: center;

	@include breakpoint-down(small) {
		padding: 50px 0px 10px 0px;
	}

	@include breakpoint-up(large) {
		display: grid;
		grid-template-columns: repeat 2fr (2, 1fr) 2fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"logo link1 link2 link3 cta"
			"social link1 link2 link3 copyright";
		justify-items: start;
	}

	a {
		color: white;
	}

	&_logo {
		img {
			height: 4rem;
		}

		.logoname {
			color: white;
			font-size: 1.375rem;
			letter-spacing: 2px;
			margin: 0.125rem 0 0;
			font-size: $font-lg;

			@include breakpoint-down(medium) {
				margin: 0.125rem 0 1.25rem;
			}
		}

		.logo_green {
			color: yellowgreen;
		}

		@include breakpoint-down(medium) {
			margin-bottom: 1.875rem;
		}

		@include breakpoint-up(large) {
			grid-area: logo;
		}
	}

	&_social {
		@include breakpoint-down(medium) {
			margin-bottom: 1.875rem;
		}

		@include breakpoint-up(large) {
			grid-area: social;
			align-self: end;
		}

		a {
			display: inline-block;
		}

		a:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&_link {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint-up(large) {
			align-items: start;
			font-size: 0.9375rem;
		}

		a:hover {
			color: yellowgreen;
		}

		&.link_col1 {
			@include breakpoint-up(large) {
				grid-area: link1;
			}

			a {
				margin-bottom: 1.125rem;
			}
		}

		&.link_col2 {
			@include breakpoint-down(medium) {
				margin-bottom: 1.875rem;
			}

			@include breakpoint-up(large) {
				grid-area: link2;
			}

			a:not(:last-child) {
				margin-bottom: 1.125rem;
			}
		}

		&.link_col3 {
			@include breakpoint-up(large) {
				grid-area: link3;
			}
		}
	}

	&_linklast {
		a:hover {
			color: yellowgreen;
		}

		@include breakpoint-down(small) {
			display: none;
		}

		@include breakpoint-up(large) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@include breakpoint-up(large) {
			align-items: start;
			font-size: 0.9375rem;
		}

		a:not(:last-child) {
			margin-bottom: 1.125rem;
		}
	}

	&_cta {
		@include breakpoint-up(large) {
			grid-area: cta;
			justify-self: end;
		}

		a.button {
			@include breakpoint-down(medium) {
				margin-bottom: 1.875rem;
			}
		}
	}

	&_copyright {
		@include breakpoint-up(large) {
			grid-area: copyright;
			justify-self: end;
			align-self: end;
		}
	}

	&_developer {
		padding: 2px 5px;
		background-color: #494f7b;
		border-radius: 5px;
		color: #cbccd5;
		margin: inherit auto;
	}
}
