.header {
  //Hamburger menu
  &.menu {
    .fallbackWindow {
      visibility: visible;
    }

    .header_menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .fallbackWindow {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(
      rgba(0, 170, 146, 0.26),
      rgba(0, 130, 170, 0)
    );
  }

  nav {
    position: relative;
    background-color: #0d1337;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &_logo {
    display: flex;
    // background-color:#2d314d;

    padding: 0.1875rem 0.375rem;
    border-radius: 100px;

    // &:hover {
    //   border-color: #66afe9;
    //   outline: 0;
    //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.075),
    //     0 0 8px rgba(99, 196, 255, 0.8);
    // }

    img {
      width: auto;
      height: 2.5rem;
    }

    .logoname {
      align-self: end;
      color: white;
      font-size: 1.375rem;
      letter-spacing: 2px;
      margin: 0.3125rem 0.5rem;
      font-size: $font-lg;
      opacity: 0;
      transform: translateX(-10%);
      z-index: 0;
      transition: 0.5s all ease-in-out;

      span {
        color: yellowgreen;
      }
    }

    .logoappear {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  &_menu {
    //mobile hamburger menu

    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: #e1e1e1;
      transition: all 280ms ease-in-out;
      transform-origin: 0.1875rem 0.0625rem;

      &:not(:last-child) {
        margin-bottom: 0.3125rem;
      }
    }
  }

  &_menuitems {
    background: rgba(27, 27, 50, 0.8);
    z-index: 1;
    padding: 1.625rem;
    margin-top: 1.4rem;
    border-radius: 4px;
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);

    a {
      display: block;
      text-align: center;
      padding: 0.625rem;
      color: yellowgreen;

      &:hover {
        border-radius: 4px;
        color: black;
      }
    }
  }

  &_links {
    a {
      position: relative;
      font-size: $font-sm;
      color: white;
      transition: color 280ms ease-in-out;
      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        background: linear-gradient(to left, $limeGreen, $brightCyan);
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        position: absolute;
        opacity: 0;
        transition: opacity 280ms ease-in-out;
      }

      &:hover {
        color: white;

        &::before {
        }
      }
    }

    a:hover {
      color: yellowgreen;
    }
  }
}
